.menu {
    display: flex;
    border-bottom: 2px solid var(--cor-secundaria);
    align-items: center;
    padding: 1% 5%;
}

.menu__titulo {
    color: var(--cor-secundaria);
    text-transform: uppercase;
    width: 60%;
    font-weight: 100;
    font-style: italic;
}

.menu__navigation {
    width: 40%;
    display: flex;
}

.navigation__single {
    color: var(--cor-texto);
    text-decoration: none;
    margin: 0 2%;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.navigation__single:hover {
    text-decoration: underline 3px solid var(--cor-secundaria);
}

@media screen and (max-width: 920px) {
    .menu {
        flex-direction: column;
        text-align: center;
        padding: 3% 0;
    }

    .menu__titulo {
        width: 100%;
        margin-bottom: 3%;
    }

    .menu__navigation {
        width: 100%;
    }

    .navigation__single {
        border: 2px solid var(--cor-secundaria);
        border-radius: 16px;
        padding: 1%;
    }

    .navigation__single:hover {
        text-decoration: none;
    }

    .navigation__single:active {
        text-decoration: none;
        background-color: var(--cor-secundaria);
        color: var(--cor-primaria);
    }
}

@media screen and (max-width: 400px) {
    .menu {
        padding: 0 5%;
    }

    .menu__titulo {
        width: 100%;
        margin-bottom: 10%;
    }

    .menu__navigation {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .navigation__single {
        vertical-align: baseline;
        margin: 3% 2%;
        border: 2px solid var(--cor-secundaria);
        border-radius: 16px;
        padding: 2%;
    }
}
