.apresentacao__produto {
    padding: 5% 7%;
    text-align: center;
}

.produto__titulo {
    color: var(--cor-secundaria);
    font-size: 2.5rem;
    font-style: italic;
}

.produto__texto {
    color: var(--cor-texto);
    margin-top: 3%;
    border-left: 3px solid var(--cor-secundaria);
    border-right: 3px solid var(--cor-secundaria);
    border-radius: 16px;
    padding: 3%;
}

.produto__video {
    margin-top: 5%;
    border: 3px solid var(--cor-secundaria);
    border-radius: 16px;
}

@media screen and (max-width: 400px) {
    .produto__texto {
        text-align: justify;
        font-size: 0.8rem;
    }

    .produto__video {
        width: 100%;
        height: 40vh;
    }
}